@font-face {
  font-family: Galien;
  src:
    url('../assets/fonts/Galien/Galien.woff2') format('woff2'),
    url('../assets/fonts/Galien/Galien.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  src:
    url('../assets/fonts/Gilroy/Gilroy.woff2') format('woff2'),
    url('../assets/fonts/Gilroy/Gilroy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
