.button {
  width: 220px;
  height: 56px;
  background: $color-blue-1;
  box-shadow: $btn-shadow;
  border-radius: 10px;
  border: none;
  color: $color-white;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: $btn-bg-color-blue-hover;
  }
}
