@import '../sass/variables.css';

.button {
  width: 220px;
  height: 56px;
  background: rgb(var(--color-blue-1));
  box-shadow: var(--btn-shadow);
  border-radius: 10px;
  border: none;
  color: rgb(var(--color-white));
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;

  &:hover {
    background: var(--btn-bg-color-blue-hover);
  }

  &_disabled {
    background: var(--btn-disabled-color);

    &:hover {
      background: var(--btn-disabled-color);
      cursor: not-allowed;
    }
  }
}
