.footer {
  background-image: $bg-footer;
  background-color: $color-blue-1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -96px;
  padding-block: 90px 70px;
  color: $color-white;

  @include lg {
    background-position-x: -180px;
    padding: 60px 40px;
  }

  @include md {
    background-position-x: -270px;
    padding-block: 60px 40px;
  }

  @include sm {
    padding: 20px;
  }

  &__container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }

  &__bottom {
    padding-top: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;

    @include lg {
      padding-top: 70px;
      gap: 50px;
    }

    @include md {
      flex-direction: column;
      padding-top: 50px;
      gap: 30px;
    }
  }

  &__contacts {
    width: 100%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @include md {
      gap: 10px;
    }
  }

  &__contacts-title {
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 1px;
    margin: 0;
  }

  &__contacts-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__contacts-item {
    display: flex;
    align-items: baseline;
    gap: 22px;
  }

  &__contacts-item-mark {
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
  }

  &__contacts-item-text {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
    margin: 0;
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 15px;

    @include md {
      justify-content: center;
    }
  }

  &__links-group {
    display: flex;
    gap: 77px;

    @include sm {
      width: 100%;
      gap: unset;
      justify-content: space-around;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include md {
      gap: 20px;
    }
  }

  &__links-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.05px;
    font-weight: 600;
    margin: 0;
  }

  &__links-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include md {
      gap: 10px;
    }
  }

  &__links-item {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;

    a {
      color: $color-white;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.8px;
    opacity: 0.6;
    padding-top: 70px;
  }
}
