.form {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @include md {
    gap: 24px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
    border: none;

    @include md {
      gap: 16px;
    }

    @include sm {
      gap: 8px;
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 16px;
    line-height: 30px;

    @include md {
      gap: 4px;
    }
  }

  &__input {
    width: 100%;
    height: 56px;
    padding: 35px 40px;
    border: 1px solid rgba($color-blue-4, 0.4);
    border-radius: 10px;
    font-size: 16px;
    line-height: 30px;
    color: $color-blue-3;

    @include md {
      padding: 20px 24px;
    }

    &::placeholder {
      color: rgba($color-blue-3, 0.2);
    }

    &:focus {
      outline: none;
      border: 1px solid $color-blue-4;
    }

    &_type_message {
      height: 144px;
      resize: none;
      padding-block: 20px;

      @include md {
        padding-block: 12px;
      }
    }
  }

  &__button {
    width: 100%;
    height: 72px;
    text-transform: uppercase;
    font-weight: 600;

    @include md {
      height: 56px;
    }
  }
}
