.header {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__menu {
    width: 32px;
    height: 32px;
    background: url('src/assets/images/header/menu.svg') no-repeat center;
    background-size: cover;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
