.hero {
  background: $hero-bg-gradient;
  height: calc(100vh - 88px);
  padding-top: 100px;
  overflow: hidden;

  @include lg {
    height: 100%;
    padding-block: 150px;
  }

  @include md {
    padding-block: 50px;
  }

  &__container {
    position: relative;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }

  &__content {
    position: relative;
    z-index: 20;

    @include lg {
      padding-inline: 20px;
    }

    @include md {
      background: rgba($color-white, 0.1);
      backdrop-filter: blur(10px);
      padding: 100px 20px;
      margin-inline: 20px;
      border-radius: 10px;
      box-shadow: $card-shadow;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 40px;
      text-align: center;
    }
  }

  &__title {
    font-family: $font-galien;
    font-size: 64px;
    font-weight: 400;
    letter-spacing: 3.29px;
    line-height: 74px;
    color: $color-blue-3;
    width: 520px;
    margin: 0;

    @include md {
      width: 100%;
      font-size: 44px;
      line-height: 48px;
      letter-spacing: 1.9px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    color: $color-blue-3;
    letter-spacing: 0.8px;
    opacity: 0.6;
    width: 420px;
    padding-top: 32px;
    margin: 0;

    @include md {
      width: 100%;
      font-size: 14px;
      line-height: 24px;
      padding: 0;
    }
  }

  &__button {
    margin-top: 70px;

    @include md {
      margin: 0;
    }
  }

  &__image {
    position: absolute;
    top: -100px;
    right: -190px;
    width: 690px;
    height: 620px;
    z-index: 10;
    background: $bg-hero-image no-repeat center;
    background-size: contain;

    @include lg {
      top: -100px;
      right: -80px;
    }

    @include md {
      top: -130px;
      left: 0;
      right: 0;
      width: 100%;
      transform: scale(0.9);
    }

    @include sm {
      transform: scale(0.8);
    }
  }
}
