.talk {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__header {
    width: 100%;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-size: 36px;
    line-height: 46px;
    margin: 0;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    opacity: 0.6;
    margin: 0;
  }
}
