.header {
  width: 1200px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;

  &__logo {
    width: 48px;
    height: 48px;
  }

  &__menu {
    width: 24px;
    height: 16px;
    background-image: url('src/assets/images/header/menu.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
